/* General Settings */
body{
	overflow: auto !important;
	margin: 0;
	padding: 0;
}

i{
	padding-right: 6px;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

span{
	border:0;
}

/* Fonts */
@font-face {
	font-family: 'Futura PT Light';
	src: url('../fonts/FuturaPT-Light.eot');
	src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaPT-Light.woff') format('woff'),
	url('../fonts/FuturaPT-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/FuturaPT-Book.eot');
	src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaPT-Book.woff') format('woff'),
	url('../fonts/FuturaPT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Medium';
	src: url('../fonts/FuturaPT-Medium.eot');
	src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaPT-Medium.woff') format('woff'),
	url('../fonts/FuturaPT-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.book{
	font-family: "Futura PT Book"; 
}

.medium{
	font-family: "Futura PT Medium";
}

.light{
	font-family: "Futura PT Light";
}

.gray-text{
	color: #757575;
}

.flex-direction-column{
	display: flex;
	flex-direction: column;
}

.w-85{
    width: 85% !important;
}

/* End Fonts */

/* NavBars Override Rules And Bootstrap too */
.browser-default.custom-select{
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}

.md-textarea.form-control{
	border-top-color: rgb(206, 212, 218);
	border-top-width: 1px;
	border-right-color:rgb(206, 212, 218);
	border-right-width: 1px;
	border-left: 1px solid rgb(206, 212, 218);

}

.btn-outline-black {
    border: 2px solid #222632!important;
    background-color: transparent!important;
    color: #222632!important;
}

.form-outline-black{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	padding: 15px;
	border-radius: 15px;
	border: 0.5px solid #222632!important;
    background-color: #fff!important;
    color: #222632!important;
}

.md-form label, .md-form p {
    font-size: 1.1rem !important;
}

.sn-bg-4{
	background: #222632 !important;
}
.navbar {
	color: #fff;
	background: #222632 !important;
}
.rgba-black-light, .rgba-black-light:after{
	background-color: rgba(34,38,50,0.7) !important;
}

.side-nav .collapsible>li a.collapsible-header.active{
	background: unset !important;
}

.side-nav .collapsible>li a.collapsible-header:hover, .collapsible-accordion .a-nav:hover {
     background:  #dd4a00 !important; 
}

.a-nav{
	text-decoration: none !important;
}
.side-nav .collapsible a {
    font-size: 0.85rem;
}

.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
    height: 135px;
}

a.nav-link{
	margin-bottom: 3px;
	border-bottom: 3px solid transparent;
}

a.nav-link:hover, a.nav-link:focus {
	color: #fff !important;
	border-bottom: 3px solid #ff691e;
}

.collapsible-header .fa-angle-down{
	font-size: .9rem;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.collapsible-header.active .fa-angle-down {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.cards-roles .card .card-body{
    height: 35vh !important;
}

@media (max-width: 767px){
	.card.walker{
		margin-top: 1.5rem !important;
	}
}

.display-none{
    display: none !important;
}


.dropdown-menu.dropdown-primary{
	left: -52px !important;
}

/* End NavBar */

/* Cards */
.btn-outline-black{
	margin: 0;
}

.card-hr{
	border: 0;
    border-bottom: 1.5px solid #ccc;
    background: #222632;
}

/* End Cards */

/* Profile Page */

.md-form .prefix.active, .md-form textarea~label.active {
    color: #757575 !important;
}

/* Required Tag Style */

input:required ~ label:after, select:required ~ label:after{
	content: ' *';
	color: #dc3545;
}

.danger{
	color: #dc3545 !important;
}

.correctLabel{
	top: -1.7rem !important;
    left: 0.1rem !important;
}

.info-color {
    background-color: #ff691e!important;
}

.btn-outline-info, .btn-outline-info:hover {
    border: 2px solid #222632!important;
    background-color: transparent!important;
    color: #222632!important;
}

.fs-13{
	font-size: 13px !important;
}
.mt-raiting{
    margin-top: 3.225rem!important;
}
/* End Profile Page */

/* ToolTips */

.tooltipClass:after{
	content: "\f059"
} 

.far.tooltipClass{
	font-size: 1.2rem;
}

.tooltipClass {
	position: relative;
	left: 18px;
}

.tooltipClass .tooltiptext {
	visibility: hidden;
	width: 12vw;
	background-color: #222632;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	font-size: 1rem;
	font-family: sans-serif;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -6vw;
	opacity: 0;
	transition: opacity 0.3s;
}
  
.tooltipClass .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltipClass:hover{
	color: #222632;
}
  
.tooltipClass:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}