{% extends "base_roles.html" %}


{% block content %}
<main>
<!-- <section id="intro" class="view intro register">
    <div class="mask rgba-black-strong flex-center"> -->
<div class="container d-flex align-items-center justify-content-center">
  <div class="row d-flex justify-content-center w-75">
    <div class="card mt-5">
        <h5 class="card-header info-color white-text text-center py-4">
        <strong>Все питомцы</strong>
        </h5>
            <!--Card content-->
        <div class="col-md-10 col-xs-14"> 
            <a  href="{{ url_for('pet_profile', pet_id=-1) }}"class="btn btn-outline-black btn-rounded waves-effect medium">Добавить новую собаку </a>
        </div>
        <div class="card-body px-lg-5 pt-0">
   
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="" method="post">

                                <div class="row d-flex justify-content-center flex-row mt-4"> 

                                       {% for item in items %}
                                        <div class="col-md-10 col-xs-14"> 
                                            <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid flex-center" >

                                        </div> 
                                        <div class="col-md-3 col-xs-12"> 
                                            <ul>   
                                                <li class="list-group-item">{{ item.name }}</li>
                                            </ul>
                                        </div> 
                                        <div class="col-md-3 col-xs-12"> 
                                                <a  href="#"class="btn btn-outline-black btn-rounded waves-effect medium">Выгулять </a>
                                            </div> 
                              
                                 {% endfor %}
                             
                </div> 
                                
                           
                </div>
                   
                  <!-- Sign in button -->

                <a  href="{{ url_for('pet_profile', pet_id=-1) }}"class="btn btn-outline-black btn-rounded waves-effect medium">Добавить новую собаку </a>


            </form>
        </div> 
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
