{% extends "base_roles.html" %}

{% import 'forms.jinja' as macros %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center px-0 hv-100">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible wow animated slideInDown" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
      {% endfor %}
  {% endif %}
{% endwith %}
  <div class="row d-flex justify-content-center w-100 margin-from-nav">
    <div class="card card-popup mt-5">
      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Заявка</strong>
      </h5>
      <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;" action="" method="post" enctype=multipart/form-data>
          {{ form.hidden_tag() }}
          <div class="row d-flex justify-content-center flex-row mt-4">
            <div class="col-md-6 col-xs-12">
              {{ macros.render_input(form_field = form.summ, id = 'Summ', label = 'Сумма', toolText = 'Введите сумму ставки') }}
            </div>
          </div>
          <div class="row d-flex flex-row">
            <div class="col-md-12 col-xs-12 controls-profile-request">
              {{ form.submit(class_="btn confirm btn-success my-2 waves-effect z-depth-0", value="Сохранить") }}
              <a href="{{ referrer }}"><span class="dismiss btn btn-danger">Назад</span></a> 
            </div>
          </div>      
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}