{% extends "base_roles.html" %}

{% import 'forms.jinja' as macros %}
{% block content %}
<main class="d-flex justify-content-center">
    <section class="main-profile d-flex align-items-center mt-4">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible wow animated slideInDown" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2 class="my-4">
                Актуальные аукционы 
                <div class="far tooltipClass profile-tool">
                    <span class="tooltiptext tooltip-owner">Для просмотра заявки нажмите на строку. При нажатии на ячейку
                        с именем волкера, вы сможете просмотреть информацию о нем.
                    </span>
                </div>
            </h2>
            <table id="dtBasicExamplePast" class="table table-striped table-bordered bg-white" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Сумма</th>
                    <th>Поставил</th>
                    <th>Адрес</th>
                    <th>Время</th>
                    <th>Питомец</th>
                </tr>
                </thead>
                <tbody>
                    {% for current_bet in current_bets %}
                        <tr class="requestPast" data-id="{{current_bet.request.id}}" data-pet_id="{{current_bet.request.pets[0].pet_id}}" >
                            <th scope="row">{{ loop.index  }}</th>
                            <td>{{current_bet.summ}}</td>
                            <td data-walker_id={{current_bet.walker_id}}>{{current_bet.walker.name}}</td>
                            <td>{{current_bet.request.address}}</td>
                            <td>{{current_bet.request.walkDuration}} мин.</td>
                            <td>{{current_bet.request.pets[0].pet.name}}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </section>
</main>
<script src="{{url_for('static', filename='js/history.js')}}"></script>
{% endblock %}