{% extends "base.html" %}

{% block content %}
<section id="intro" class="view intro login">
    <div class="mask rgba-black-strong flex-center">
      <div class="container d-flex align-items-center justify-content-center mh-100">
        <div class="row d-flex justify-content-center ">
                <!-- text-left -->
          <!-- Material form login -->
            <div class="card">
            <h5 class="card-header info-color white-text text-center py-4">
            <strong>Авторизация</strong>
            </h5>
            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
              <!-- Email -->
                <div class="md-form">
                {{ form.email(class_="form-control", id="FormEmail") }}
                
                <!-- <input type="email" id="FormEmail" class="form-control"> -->
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <label for="FormEmail">E-mail</label>
                </div>
                <!-- Password -->
                <div class="md-form">
                {{ form.password(class_="form-control", id="FormPassword") }}
                <!-- <input type="password" id="FormPassword" class="form-control"> -->
                <label for="FormPassword">Пароль</label>
                {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
                </div>
                <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="form-check">
                    <!-- <input type="checkbox" class="form-check-input" id="FormRemember"> -->
                    {{ form.remember_me(class_="form-check-input", id="FormRemember") }} <label class="form-check-label" for="FormRemember">Запомнить меня</label>
                    </div>
                </div>
                </div>
                <!-- Sign in button -->
                {{ form.submit(class_="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0", value="Войти") }}
                <!-- <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Войти</button> -->
                <!-- Register -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-success alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <!-- <strong>Title</strong> --> {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <p>Нет аккаунта?
                <a href="{{ url_for('register') }}">Зарегистрироваться</a>
                </p>
            </form>
            </div>
        </div>
      <!-- Material form login -->
        </div>
      </div>
    </div>
</section>
{% endblock %}