{% extends "base_roles.html" %}

{% import 'forms.jinja' as macros %}
{% block content %}
<main>
<!-- <section id="intro" class="view intro register">
    <div class="mask rgba-black-strong flex-center"> -->
<div class="container d-flex align-items-center justify-content-center">
  <div class="row d-flex justify-content-center w-75">
    <div class="card mt-5">
        <h5 class="card-header info-color white-text text-center py-4">
        <strong>Профиль питомца</strong>
        </h5>
            <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- <strong>Title</strong> --> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="row d-flex justify-content-center flex-row mt-4">
                    <div class="col-md-3 col-xs-12">
                        {{ macros.render_input(form_field = form.name, id = 'FormName', 
                            label = 'Кличка',  type = 'text') }}
                    </div>
                    <div class="col-md-3 col-xs-12">
                        {{ macros.render_input(form_field = form.gender, id = 'FormGender', class = 'browser-default custom-select', 
                            class_for_label = 'correctLabel', label = 'Выберите пол') }}
                    </div>
                    <div class="col-md-2 col-xs-12">
                        {{ macros.render_input(form_field = form.age, id = 'FormAge', label = 'Возраст') }}
                    </div>
                    <div class="col-md-2 col-xs-12">
                        {{ macros.render_input(form_field = form.weight, id = 'FormWeight', label = 'Вес') }}
                    </div>
                    <div class="col-md-2 col-xs-12">
                        {{ macros.render_input(form_field = form.breed_id, id = 'FormBreedId', class = 'browser-default custom-select', 
                            class_for_label = 'correctLabel', label = 'Порода') }}
                    </div>
                </div>
 
                <div class="row d-flex justify-content-center flex-row">
                    <div class="col-md-9 col-xs-12">
                      {{ macros.render_input(form_field = form.info, id = 'FormInfo', class="md-textarea form-control", label = 'Описание', rows="3") }}
                    </div>
                </div>
                   
                  <!-- Sign in button -->
                {{ form.submit(class_="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0", value="Сохранить") }}
            </form>
        </div> 
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
