{% extends "base_roles.html" %}

{% block content %}
<main>
<!-- <section id="intro" class="view intro register">
    <div class="mask rgba-black-strong flex-center"> -->
      <div class="container d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center">
                <!-- text-left -->
          <!-- Material form login -->
            <div class="card mt-5">
            <h5 class="card-header info-color white-text text-center py-4">
            <strong>Профиль</strong>
            </h5>
            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            <form class="text-center" style="color: #757575;" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="row d-flex justify-content-center flex-row">
                  <!-- surname -->
                  <div class="col-md-6 col-xs-12">
                    <div class="md-form">
                        {{ form.surname(class_="form-control", id="FormSurname") }}<br>
                        <label for="FormSurname"><span style="color: red;">*</span>Фамилия</label>
                        
                        {% for error in form.surname.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <!-- name -->
                    <div class="md-form">
                        {{ form.name(class_="form-control", id="FormName") }}<br>
                        <label for="FormName"><span style="color: red;">*</span>Имя</label>
                        
                        {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <!-- middlename -->
                    <div class="md-form">
                        {{ form.middlename(class_="form-control", id="FormMiddlename") }}<br>
                        <label for="FormMiddlename">Отчество</label>
                        
                        {% for error in form.middlename.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <!-- adress -->
                    <div class="md-form">
                        {{ form.address(class_="form-control", id="FormAdress") }}<br>
                        <label for="FormAdress"><span style="color: red;">*</span>Адрес</label>
                        
                        {% for error in form.address.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <!-- phone -->
                    <div class="md-form">
                        {{ form.phone(class_="form-control datepicker", id="FormPhone", placeholder="") }}<br>
                        <label for="FormPhone"><span style="color: red;">*</span>Телефон</label>
                        
                        {% for error in form.phone.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <!-- info -->
                    <div class="md-form">
                        {{ form.info(class="md-textarea form-control",rows="3", id="FormInfo") }}<br>
                        <label for="FormInfo">О себе</label>
                        {% for error in form.info.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                  </div>
                  <!-- Sign in button -->
                  {{ form.submit(class_="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0", value="Сохранить") }}
                  <!-- <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Войти</button> -->
                </div>
                
            </form>
            </div>
        </div>
      <!-- Material form login -->
        </div>
      </div>
    <!-- </div>
</section> -->
</main>
{% endblock %}