{% extends "base_roles.html" %}

{% import 'forms.jinja' as macros %}
{% block content %}
<main>
<!-- <section id="intro" class="view intro register">
    <div class="mask rgba-black-strong flex-center"> -->
      <div class="container d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center w-75">
                <!-- text-left -->
          <!-- Material form login -->
            <div class="card mt-5">
            <h5 class="card-header info-color white-text text-center py-4">
            <strong>Профиль</strong>
            </h5>
            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <strong>Title</strong> --> {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="text-center" style="color: #757575;" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="row d-flex justify-content-center flex-row mt-4">
                  <div class="col-md-3 col-xs-12">
                    {{ macros.render_input(form_field = form.surname, id = 'FormSurname', label = 'Фамилия') }}
                  </div>
                  <div class="col-md-3 col-xs-12">
                    {{ macros.render_input(form_field = form.name, id = 'FormName', label = 'Имя') }}
                  </div>
                  <div class="col-md-3 col-xs-12">
                    {{ macros.render_input(form_field = form.middlename, id = 'FormMiddlename', label = 'Отчество') }}
                  </div>
                </div>
                <div class="row d-flex justify-content-center flex-row">
                  <div class="col-md-6 col-xs-12">
                    {{ macros.render_input_Tool(form_field = form.address, id = 'FormAdress', label = 'Адрес', toolText = 'Введите ваш фактический адрес проживания') }}
                  </div>
                  <div class="col-md-3 col-xs-12">
                    {{ macros.render_input_Tool(form_field = form.phone, id = 'FormPhone', label = 'Телефон', toolText = 'Введите ваш телефон в формате 8xxxxxxxxxx') }}
                  </div>
                </div>
                <div class="row d-flex justify-content-center flex-row">
                  <div class="col-md-9 col-xs-12">
                    {{ macros.render_input(form_field = form.info, id = 'FormInfo', class="md-textarea form-control", label = 'О себе', rows="3") }}
                  </div>
                </div>
                  <!-- Sign in button -->
                  {{ form.submit(class_="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0", value="Сохранить") }}
                  <!-- <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Войти</button> -->
                </form>
            </div>
        </div>
      <!-- Material form login -->
        </div>
      </div>
    <!-- </div>
</section> -->
</main>
<script type="text/javascript">
  data = {
  token: "3283e59c98911c85fa289a756dfeebd62efe57b4",
  type: "ADDRESS",
  selectOnSpace: true,
  onSearchStart: self.forceTyumen,
  /* Вызывается, когда пользователь выбирает одну из подсказок */
  onSelect: function(suggestion) {
      console.log(suggestion);
  },
  forceTyumen: function (params) {
      var query = params["query"];
      var pattern = /Тюмень/i;
      if (!pattern.test(query)) {
          query = "Тюмень " + query;
      }
      params["query"] = query;
  }
}
$("#FormAdress").suggestions(data);
</script>
{% endblock %}
