{% extends "base.html" %}

{% block content %}
<section id="intro" class="view intro register">
        <div class="mask rgba-black-strong flex-center">
          <div class="container d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center">
                    <!-- text-left -->
              <!-- Material form login -->
                <div class="card mt-5">
                <h5 class="card-header info-color white-text text-center py-4">
                <strong>Регистрация</strong>
                </h5>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                <!-- Form -->
                <form class="text-center" style="color: #757575;" action="" method="post">
                    {{ form.hidden_tag() }}
                    <!-- Email -->
                    <div class="md-form">
                        {{ form.email(class_="form-control", id="FormEmail") }}<br>
                        <!-- <input type="email" id="FormEmail" class="form-control"> -->
                        <label for="FormEmail">E-mail</label>
                        
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <!-- Password -->
                    <div class="md-form">
                        {{ form.password(class="form-control", id="FormPassword") }}<br>
                        <!-- <input type="password" id="FormPassword" class="form-control"> -->
                        <label for="FormPassword">Пароль</label>
                        {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <!-- Re-Password -->
                    <div class="md-form">
                        {{ form.password2(class="form-control", id="FormPasswordRepeat") }}<br>
                        <!-- <input type="password" id="FormPasswordRepeat" class="form-control"> -->
                        <label for="FormPasswordRepeat">Повторите пароль</label>
                        
                        {% for error in form.password2.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="md-form">
                        {% for error in form.recaptcha.errors %}
                        <span style="color: red;">{{ "Поставьте флажок!" }}</span>
                        {% endfor %}
                        {{  form.recaptcha  }} 
                    </div>
                    <!-- Sign in button -->
                    {{ form.submit(class_="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0", value="Зарегистрироваться") }}
                    <!-- <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Войти</button> -->
                    <!-- Register -->
                    <p>Регистрируясь на нашем сервисе <br /> вы принимаете пользовательское соглашение
                    <br /><a href="#">Соглашение</a>
                    </p>
                </form>
                </div>
            </div>
          <!-- Material form login -->
            </div>
          </div>
        </div>
    </section>
{% endblock %}