{% extends "base_roles.html" %}
{% block content %}
<main>
<section class="cards-roles">
    <div class="container-fluid mt-2">
        <h2 class="text-center h2-main mb-4">Выберите свою роль</h2>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-card">
              <div class="card owner">
                <div class="view overlay">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/owner.jpg') }}" alt="Dog Owner">
                    <a href="{{ url_for('profile', become='owner') }}">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title">ХОЗЯИН</h4>
                    <hr class="card-hr">
                    <p class="card-text">
                    Вы хотите воспользоваться услугами профессиональных волкеров и обеспечить своему питомцу качественную и комфортную прогулку.
                    </p>
                    <a href="{{ url_for('profile', become='owner') }}" class="btn btn-outline-black btn-rounded waves-effect medium">Стать хозяином<i class="fas fa-paw pl-1"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="card walker">
                    <div class="view overlay">
                        <img class="card-img-top img-walker" src="{{ url_for('static', filename='img/walker.jpg') }}" alt="Dog Walker">
                        <a href="{{ url_for('profile', become='walker') }}">
                            <div class="mask rgba-white-light"></div>
                        </a>
                    </div>
                    <div class="card-body text-center">
                    <h4 class="card-title">ВОЛКЕР</h4>
                    <hr class="card-hr">
                    <p class="card-text">Вы хотите вступить в команду волкеров Walkie-Doggie, найти друзей, работу или же просто любите животных, также как и мы.</p>
                    <a href="{{ url_for('profile', become='walker') }}" class="btn btn-outline-black btn-rounded waves-effect medium">Стать волкером<i class="fas fa-dog-leashed pl-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}