{% extends "base_roles.html" %}

{% block content %}
<main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.2.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.2.0/dist/js/jquery.suggestions.min.js"></script>
<!-- <section id="intro" class="view intro register">
    <div class="mask rgba-black-strong flex-center"> -->
      <div class="container d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center">
                <!-- text-left -->
          <!-- Material form login -->
            <div class="card mt-5">
            <h5 class="card-header info-color white-text text-center py-4">
            <strong>Профиль выгульщика</strong>
            </h5>
            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="row d-flex justify-content-center flex-row">
                  <!-- addresspr -->
                  <div class="col-md-6 col-xs-12">
                    <div class="md-form">
                        {{ form.addresspr(class_="form-control", id="FormAdressPr") }}<br>
                        <label for="FormAdressPr">Адрес проживания</label>
                        
                        {% for error in form.addresspr.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <!-- addresreg -->
                    <div class="md-form">
                        {{ form.addressreg(class_="form-control", id="FormAdressReg") }}<br>
                        <label for="FormAdressReg">Адрес регистрации</label>
                        
                        {% for error in form.addressreg.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <script>
                        data = {
                            token: "3283e59c98911c85fa289a756dfeebd62efe57b4",
                            type: "ADDRESS",
                            selectOnSpace: true,
                            onSearchStart: self.forceTyumen,
                            /* Вызывается, когда пользователь выбирает одну из подсказок */
                            onSelect: function(suggestion) {
                                console.log(suggestion);
                            },
                            forceTyumen: function (params) {
                                var query = params["query"];
                                var pattern = /Тюмень/i;
                                if (!pattern.test(query)) {
                                    query = "Тюмень " + query;
                                }
                                params["query"] = query;
                            }
                        }
                        $("#FormAdressPr").suggestions(data);
                        $("#FormAdressReg").suggestions(data);
                    </script>
                    <!-- height -->
                    <div class="md-form">
                        {{ form.height(class_="form-control", id="FormHeight") }}<br>
                        <label for="FormHeight">Рост</label>
                        
                        {% for error in form.height.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                     <!-- series -->
                     <div class="md-form">
                        {{ form.series(class_="form-control", id="FormSeries") }}<br>
                        <label for="FormSeries">Серия паспорта</label>
                        
                        {% for error in form.series.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                   <!-- number -->
                   <div class="md-form">
                    {{ form.number(class_="form-control", id="FormNumber") }}<br>
                    <label for="FormNumber">Номер паспорта</label>
                    
                    {% for error in form.number.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div> 

                 <!-- issuedBy -->
                 <div class="md-form">
                    {{ form.issuedBy(class_="form-control", id="FormIssuedBy") }}<br>
                    <label for="FormIssuedBy">Кем выдан</label>
                    
                    {% for error in form.issuedBy.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div> 
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <!-- weight -->
                    <div class="md-form">
                        {{ form.weight(class_="form-control", id="FormWeight") }}<br>
                        <label for="FormWeight">Вес</label>
                        
                        {% for error in form.weight.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <!-- gender -->
                    <div class="md-form">
                        {{ form.gender(class_="form-control", id="FormGender") }}<br>
                        <label for="FormGender">Пол</label>
                        
                        {% for error in form.gender.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <!-- rating -->
                    <div class="md-form">
                        {{ form.rating(class_="form-control", id="FormRating") }}<br>
                        <label for="FormRating">Рейтинг</label>
                        
                        {% for error in form.rating.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                <!-- issueDate -->
                <div class="md-form">
                    <p class="text-left my-0 fs-13">Дата выдачи</p>
                    {{ form.issueDate(class_="form-control", id="FormIssueDate", type="date") }}<br>
                    {% for error in form.issueDate.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div> 
                <!-- birthDate -->
                <div class="md-form">
                    <p class="text-left my-0 fs-13">Дата рождения</p>
                    {{ form.birthDate(class_="form-control", id="FormBirthDate", type="date") }}<br>
                    <!-- <label for="FormBirthDate">Дата рождения</label> -->
                    
                    {% for error in form.birthDate.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div> 
                 <!-- score -->
                 <div class="md-form">
                    {{ form.score(class_="form-control", id="FormScore") }}<br>
                    <label for="FormScore">Счёт</label>
                    
                    {% for error in form.score.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div> 
                  </div>
                  <!-- Sign in button -->
                  {{ form.submit(class_="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0", value="Сохранить") }}
                  <!-- <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Войти</button> -->
                </div>
            </form>
            </div>
        </div>
      <!-- Material form login -->
        </div>
      </div>
    <!-- </div>
</section> -->
</main>
{% endblock %}