{% extends "base_roles.html" %}

{% import 'forms.jinja' as macros %}
{% block content %}
<main>
<!-- <section id="intro" class="view intro register">
    <div class="mask rgba-black-strong flex-center"> -->
<div class="container d-flex align-items-center justify-content-center">
  <div class="row d-flex justify-content-center w-75">
    <div class="card mt-5">
        <h5 class="card-header info-color white-text text-center py-4">
        <strong>Профиль выгульщика</strong>
        </h5>
            <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- <strong>Title</strong> --> {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="row d-flex justify-content-center flex-row mt-4">
                    <div class="col-md-3 col-xs-12">
                        {{ macros.render_input(form_field = form.birthDate, id = 'FormBirthDate', 
                            label = 'Дата рождения', class_for_label = 'correctLabel', type = 'date') }}
                    </div>
                    <div class="col-md-3 col-xs-12">
                        {{ macros.render_input(form_field = form.gender, id = 'FormGender', class = 'browser-default custom-select', 
                            class_for_label = 'correctLabel', label = 'Выберите пол') }}
                    </div>
                    <div class="col-md-2 col-xs-12">
                        {{ macros.render_input(form_field = form.height, id = 'FormHeight', label = 'Рост') }}
                    </div>
                    <div class="col-md-2 col-xs-12">
                        {{ macros.render_input(form_field = form.weight, id = 'FormWeight', label = 'Вес') }}
                    </div>
                </div>
                <div class="row d-flex justify-content-center flex-row">
                    <div class="col-md-3 col-xs-12">
                        {{ macros.render_input(form_field = form.series, id = 'FormSeries', label = 'Серия паспорта') }}
                    </div>
                    <div class="col-md-3 col-xs-12">
                        {{ macros.render_input(form_field = form.number, id = 'FormNumber', label = 'Номер паспорта') }}
                    </div>
                    <div class="col-md-4 col-xs-12 pr-0">
                        {{ macros.render_input(form_field = form.issueDate, id = 'FormIssueDate', 
                            label = 'Дата выдачи', class_for_label="correctLabel", type='date') }}
                    </div>
                </div>
                <div class="row d-flex justify-content-center flex-row">
                    <div class="col-md-10 col-xs-12">
                        {{ macros.render_input(form_field = form.issuedBy, id = 'FormIssuedBy', 
                            label = 'Кем выдан', class_for_wrapper='md-form my-0') }}
                    </div>
                </div>  
                <div class="row d-flex justify-content-center flex-row">
                    <div class="col-md-10 col-xs-12">
                        {{ macros.render_input(form_field = form.addresspr, id = 'FormAdressPr', label = 'Адрес регистрации') }}
                        {{ macros.render_input(form_field = form.addressreg, id = 'FormAdressReg', label = 'Адрес регистрации') }}
                    </div>  
                </div>
                    
                  <!-- Sign in button -->
                {{ form.submit(class_="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0", value="Сохранить") }}
            </form>
        </div> 
      </div>
    </div>
  </div>
</div>
</main>
<script type="text/javascript">
    data = {
        token: "3283e59c98911c85fa289a756dfeebd62efe57b4",
        type: "ADDRESS",
        selectOnSpace: true,
        onSearchStart: self.forceTyumen,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            console.log(suggestion);
        },
        forceTyumen: function (params) {
            var query = params["query"];
            var pattern = /Тюмень/i;
            if (!pattern.test(query)) {
                query = "Тюмень " + query;
            }
            params["query"] = query;
        }
    }
    $("#FormAdressPr").suggestions(data);
    $("#FormAdressReg").suggestions(data);
</script>
{% endblock %}
